<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow access to other existing files or directories (like assets, styles, etc.)
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirect all other requests to index.html for Angular routing
  RewriteBase /   # or specify the subdirectory where your app is hosted
  RewriteRule ^ index.html [QSA,L]
</IfModule>
