<div>
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">لوحة التحكم</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
            <span>{{ editMode ? 'تحديث بيانات المستند' : 'إضافة مستند جديد' }}</span>
        </li>
    </ul>
    <div class="grid grid-cols-12 gap-4 mt-5">
        <div class="col-span-12 panel">
            <div class="mb-5">
                <dropzone-file-upload label="قم برفع المرفقات هنا"></dropzone-file-upload>
            </div>

            <normal-quill-editor
                label="ادخل محتوى الفهرس"
                inputStyleClass="w-full"
                labelStyleClass="text-sm"
                errorStyleClass="text-sm"
                placeholder="تفاصيل الملف ....."
                [control]="getFC('content')"
            ></normal-quill-editor>
        </div>
    </div>
</div>
